NanoAOD_Gen/Others
Skim_NanoAOD/*.root
Ntuple_Skim/*.root

MVA_Ntuple/*.root
MVA_Ntuple/*/*.root
MVA_Ntuple/*/*/*.root
MVA_Ntuple/*/*/*/*.root

MVA_Ntuple/*.txt
MVA_Ntuple/*/*.txt
MVA_Ntuple/*/*/*.txt
MVA_Ntuple/*/*/*/*.txt

MVA_Ntuple/*.pdf
MVA_Ntuple/*/*.pdf
MVA_Ntuple/*/*/*.pdf
MVA_Ntuple/*/*/*/*.pdf

MVA_Ntuple/*discs
MVA_Ntuple/*/*discs
MVA_Ntuple/*/*/*discs
MVA_Ntuple/*/*/*/*discs

*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc

*.out
*/*.out
*/*/*.out
*/*/*/*.out
*/*/*/*/*.out

*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log

*.json
*/*.json
*/*/*.json
*/*/*/*.json
*/*/*/*/*.json

*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o

tmpSub
*/tmpSub
*/*/tmpSub
*/*/*/tmpSub
*/*/*/*/tmpSub

tex
*/tex
*/*/tex
*/*/*/tex
*/*/*/*/tex

output
*/output
*/*/output
*/*/*/output
*/*/*/*/output

hists
*/hists
*/*/hists
*/*/*/hists
*/*/*/*/hists

dataset
*/dataset
*/*/dataset
*/*/*/dataset
*/*/*/*/dataset

.*out
*/.*out
*/*/.*out
*/*/*/.*out
*/*/*/*/.*out


